* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

/* BLOCCO LEZIONI */
.col-lg-6{
  float: left;
}

.row>.lezleft,
.row>.lezright {
  width: 50%;
  float: left;
}

.row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.center{
  text-align: center;
}

/* BLOCCO STEPS */
.row>.funleft,
.row>.funcenter,
.row>.funright {
  float: left;
  width: 33%;
}


/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}



img {
  height: 200px;

}

div.second img,
div.third img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

.clear {
  clear: both;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  
  .row {
    margin-top: 0;
    padding-bottom: 20px;
  }

  h1 {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .sabbia {
    background-color: rgb(242, 241, 209);
  }

  img {
    padding-top: 10px;
  }
}

@media all and (max-width: 767px) {

  .row {
    margin-top: 0;
    padding-bottom: 20px;
  }

  h1 {
    padding-top: 10px;
    padding-bottom: 20px;
  }

.sabbia {
    background-color: rgb(242, 241, 209);
  }

  img {
    padding-top: 10px;
  }

}

@media screen and (min-width:992px){
  .grey{
    background-color: lightgrey;
  }
}