.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

/* BLOCCO LEZIONI */
.col-lg-6{
  float: left;
}

.row>.lezleft,
.row>.lezright {
  width: 50%;
  float: left;
}

@media screen and (max-width:991px){
  .sabbia{
    background-color: rgb(231, 180, 70);
  }
  
}

.row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.center{
  text-align: center;
}

/* BLOCCO STEPS */
.row>.fun1>.funleft,
.row>.fun2>.funcentral,
.row>.fun3>.funright {
  float: left;
}

.col-md-6{
  float: left;
}


/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (min-width:992px){
  .grey{
  background-color: #dfdfdf;
  }
}

@media screen and (max-width:991px){
  .grey{
    background-color: rgb(255, 255, 255);
  }
  
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
